.ytp-svg-shadow {
  stroke: #000;
  stroke-opacity: .15;
  stroke-width: 2px;
  fill: none;
}

.ytp-svg-fill {
  fill: #fff;
}

.ytp-fullscreen-button-corner-0,
.ytp-fullscreen-button-corner-1,
.ytp-fullscreen-button-corner-2,
.ytp-fullscreen-button-corner-3 {
  -webkit-transform: none;
  transform: none;
}