@import "../../index";

ytd-page-manager {
  display: block;
  overflow-y: auto;

  > *.ytd-page-manager {
    flex: 1;
    flex-basis: 1e-9px;
  }
}

ytd-app[guide-persistent-and-visible=true] ytd-page-manager.ytd-app{
  margin-left: $app-drawer-width;
}

ytd-page-manager.ytd-app {
  background-color: $yt-spec-base-background;
}

#page-manager.ytd-app {
  display: flex;
  flex: 1;
  flex-basis: 1e-9px;
  overflow-x: inherit;
  overflow-y: visible;
  margin-top: 56px;
  --ytd-toolbar-offset: $yt-header-height;
}