@import "src/index";

ytd-page-manager {
  display: block;
  overflow-y: auto;

  > *.ytd-page-manager {
    flex: 1;
    flex-basis: 1e-9px;
  }
}

ytd-page-manager.ytd-app {
  margin-left: $app-drawer-width;
  background-color: $yt-spec-base-background;
}

#page-manager.ytd-app {
  display: flex;
  flex: 1;
  flex-basis: 1e-9px;
  overflow-x: inherit;
  overflow-y: visible;
  margin-top: 56px;
  --ytd-toolbar-offset: $yt-header-height;
}

ytd-browse {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;


}

ytd-two-column-browse-results-renderer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  flex: none;
  margin-bottom: 16px;
  width: 100%;
}

ytd-two-column-browse-results-renderer.ytd-browse {
  padding-bottom: var(--ytd-miniplayer-offset, 0);
}

#primary.ytd-two-column-browse-results-renderer {
  max-width: 100%;
  min-width: 0;
}

ytd-rich-grid-renderer {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#header.ytd-rich-grid-renderer {
  display: flex;
  width: 100%;
}

ytd-feed-filter-chip-bar-renderer {
  --ytd-rich-grid-chips-bar-width: 100%;
  --ytd-rich-grid-chips-bar-top: 56px;
  --ytd-sort-filter-header-margin-left: 0;
  width: 100%;
  height: 56px;
  display: flex;
}

#chips-wrapper.ytd-feed-filter-chip-bar-renderer {
  position: fixed;
  top: var(--ytd-rich-grid-chips-bar-top);
  width: var(--ytd-rich-grid-chips-bar-width);
  z-index: 1000;
  background: black;
  display: flex;
  flex: none;
  justify-content: flex-start;
}

#scroll-container.ytd-feed-filter-chip-bar-renderer {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

#chips.ytd-feed-filter-chip-bar-renderer {
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.05, 0, 0, 1);
  will-change: transform;
  display: inline-block;
  white-space: nowrap;
  background-color: $yt-spec-base-background;
  //height: inherit;
}

yt-chip-cloud-chip-renderer {
  height: 32px;
  min-width: 12px;
  padding: 0 10px;
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  font-family: "Roboto", "Aerial", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  flex-direction: row;
  align-items: center;
  display: inline-flex;

}

yt-chip-cloud-chip-renderer[chip-style=STYLE_DEFAULT],
yt-chip-cloud-chip-renderer[chip-style=STYLE_HOME_FILTER],
yt-chip-cloud-chip-renderer[chip-style=STYLE_REFRESH_TO_NOVEL_CHIP] {
  background-color: $yt-spec-badge-chip-background-unselected;
  color: $yt-spec-text-primary;
  padding: 0 $yt-margin-3x;
  transition: background-color 0.5s cubic-bezier(0.05, 0, 0, 1);

  &:hover {
    background-color: $yt-spec-badge-chip-background-hover;
  }
}

yt-chip-cloud-chip-renderer.ytd-feed-filter-chip-bar-renderer {
  margin: 12px 12px 12px 0;
}

yt-chip-cloud-chip-renderer[chip-styl=STYLE_DEFAULT][selected],
yt-chip-cloud-chip-renderer[chip-style=STYLE_HOME_FILTER][selected] {
  background-color: $yt-spec-text-primary;
  color: $yt-spec-text-primary-inverse;
}

yt-chip-cloud-chip-renderer.ytd-feed-filter-chip-bar-renderer:first-of-type {
  margin-left: 24px;
}

yt-formatted-string[ellipsis-truncate-styling] {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#text.yt-chip-cloud-chip-renderer {
  max-width: 15rem;
}

#right-arrow.ytd-feed-filter-chip-bar-renderer {
  right: 0;

  &:before {
    background: linear-gradient(to left, $yt-spec-base-background 20%, rgba(255, 255, 255, 0) 80%);
  }
}

#left-arrow.ytd-feed-filter-chip-bar-renderer,
#right-arrow.ytd-feed-filter-chip-bar-renderer {
  position: absolute;
  height: 100%;
  z-index: 2020;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#left-arrow.ytd-feed-filter-chip-bar-renderer:after,
#right-arrow.ytd-feed-filter-chip-bar-renderer:before {
  height: 100%;
  width: 50px;
  pointer-events: none;
  content: "";
}

#left-arrow-button.ytd-feed-filter-chip-bar-renderer,
#right-arrow-button.ytd-feed-filter-chip-bar-renderer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $yt-spec-base-background;
}

ytd-feed-filter-chip-bar-renderer[is-dark-theme=true] #right-arrow.ytd-feed-filter-chip-bar-renderer:before {
  //background: linear-gradient(270deg, $yt-spec-base-background 20%, #212121 80%);
  background-color: $yt-spec-base-background;
}

#contents.ytd-rich-grid-renderer {
  width: 100%;
  padding-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

ytd-rich-grid-row {
  width: 100%;
  display: flex;
  justify-content: center;

  #contents.ytd-rich-grid-row {
    width: 100%;
    max-width: calc(var(--ytd-rich-grid-items-per-row) * (var(--ytd-rich-grid-item-max-width)
     + var(--ytd-rich-grid-item-margin)));
    display: flex;
    margin: 0 16px;
  }
}

ytd-rich-item-renderer {
  position: relative;
  margin-right: calc(var(--ytd-rich-grid-item-margin) / 2);
  margin-left: calc(var(--ytd-rich-grid-item-margin) / 2);
  margin-bottom: 40px;
  width: calc(100%/var(--ytd-rich-grid-items-per-row) - var(--ytd-rich-grid-item-margin) - 0.01px);
}

#content.ytd-rich-item-renderer {
  height: 100%;
  display: flex;
  justify-content: center;
}

ytd-rich-grid-media {
  --yt-button-compact-background-color: $yt-spec-outline;
  --yt-button-compact-text-color: $yt-spec-text-secondary;
  width: 100%;
  margin: 0;
  display: block;
  max-width: var(--ytd-rich-grid-item-max-width);
  position: relative;
}

#dismissible.ytd-rich-grid-media {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

ytd-thumbnail {
  display: block;
  flex: none;

  #thumbnail.ytd-thumbnail {
    height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: block;
  }

  #thumbnail.ytd-thumbnail {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

ytd-thumbnail[size=large] {
  a.ytd-thumbnail, &:before {
    border-radius: 12px;
  }
}

ytd-thumbnail.ytd-rich-grid-media, ytd-playlist-thumbnail.ytd-rich-grid-media {
  width: 100%;
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%;
    background-color: $yt-spec-outline;
  }
}

.yt-core-image {
  visibility: hidden;
  display: inline-block;
  min-height: 1px;
  min-width: 1px;
}

.yt-core-image--loaded {
  visibility: inherit;
}

.yt-core-image--fill-parent-height {
  height: 100%;
}

.yt-core-image--fill-parent-width {
  width: 100%;
}

.yt-core-image--content-mode-scale-aspect-fill {
  object-fit: cover;
}

#details.ytd-rich-grid-media {
  position: relative;
  cursor: pointer;
  margin: 0 12px;
  flex: auto;
  display: flex;
  flex-direction: row;
}

#avatar-link.ytd-rich-grid-media {
  height: 36px;
  margin-top: 12px;
  margin-right: 12px;
}

yt-img-shadow {
  display: inline-block;
  opacity: 0;
  transition: opacity 0.2s;
  flex: none;
}

yt-img-shadow.no-transition {
  opacity: 1;
  transition: none;
}

yt-img-shadow[loaded] {
  opacity: 1;
}

#avatar.ytd-rich-grid-media {
  background-color: $yt-spec-outline!important;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
}


#meta.ytd-rich-grid-media {
  overflow-x: hidden;
  padding-right: 24px;
}

h3.ytd-rich-grid-media {
  color: $yt-spec-text-primary;
  margin: 12px 0 4px 0;
}

#video-title-link.ytd-rich-grid-media {
  display: block;
}

#video-title.ytd-rich-grid-media {
  color: $yt-spec-text-primary;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1.1rem;
  line-height: 1.8rem;
  font-weight: 500;
  overflow-x: hidden;
  display: block;
  max-height: 4rem;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}


ytd-video-meta-block, ytd-video-meta-block[mata-block] {
  display: flex;
  flex-direction: column;
}

#metadata.ytd-video-meta-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ytd-video-meta-block.grid,
ytd-video-meta-block.compact,
.ytd-video-meta-block[meta-block].grid,
.ytd-video-meta-block[meta-block].compact {
  #metadata.ytd-video-meta-block {
    display: flex;
    flex-direction: column;
  }
}

#byline-container.ytd-video-meta-block {
  max-width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
}

ytd-video-meta-block[rich-meta] #byline-container.ytd-video-meta-block {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 400;
}

ytd-channel-name {
  z-index: 300;
  display: flex;
  align-self: flex-start;
}

#channel-name.ytd-video-meta-block {
  --ytd-channel-name-badges-margin-right: 8px;
  --ytd-channel-name-text-display: block;
  --ytd-channel-name-text-complex-display: flex;
  --yt-endpoint-color: $yt-spec-text-secondary;
  --yt-endpoint-visited-color: $yt-spec-text-secondary;

  color: $yt-spec-text-secondary;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
;
}

ytd-video-meta-block.grid,
.ytd-video-meta-block[meta-block].grid {
  #channel-name.ytd-video-meta-block {
    --yt-endpoint-color: $yt-spec-text-secondary;
    --yt-endpoint-hover-color: $yt-text-primary;
  }
}

#container.ytd-channel-name {
  display: var(--ytd-channel-name-container-display, inline-block);
  overflow: hidden;
  max-width: 100%;
}

#text-container.ytd-channel-name {
  display: var(--ytd-channel-name-text-container-display, block);
}

yt-formatted-string[ellipsis-truncate-styling] {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

yt-formatted-string[ellipsis-truncate-styling].complex-string {
  white-space: pre;
  display: flex;
  flex-direction: row;
}

#text.ytd-channel-name {
  display: var(--ytd-channel-name-text-display);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--ytd-channel-name-text-inline-clamp, inherit);
  word-break: break-word;
  font-size: var(--ytd-channe-name-text-font-size);
  font-weight: var(--ytd-channel-name-text-font-weight);
  line-height: var(--ytd-channel-name-text-line-height);
}

#text.complex-string.ytd-channel-name {
  display: var(--ytd-channel-name-text-complex-display);
}

a.yt-formatted-string {
  color :$yt-spec-call-to-action;
}

a.yt-simple-endpoint.yt-formatted-string {
  color: var(--yt-endpoint-color, var(--yt-spec-color-to-action));
  display: var(--yt-endpoint-display, inline-block);
  -webkit-text-decoration: var(--yt-endpoint-text-regular-decoration, none);
  text-decoration: var(--yt-endpoint-text-regular-decoration, none);
  word-wrap: var(--yt-endpoint-word-wrap, none);
  word-break: var(--yt-endpoint-word-break, none);
}

yt-formatted-string[ellipsis-truncate-styling=true] {
  a.yt-formatted-string {
    display: block;
    margin-right: -0.1rem;
    padding-right: 0.1rem;
    white-space: nowrap;
  }

  a.yt-formatted-string, span.yt-formatted-string {
    :last-child {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

yt-formatted-string[has-link-only_]:not([force-default-style]) a.yt-simple-endpoint.yt-formatted-string {
  color: var(--yt-endpoint-color,var(--yt-spec-text-primary));
}

#metadata.ytd-video-meta-block {
  color: $yt-spec-text-secondary;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

ytd-video-meta-block[rich-meta] #metadata-line.ytd-video-meta-block {
  font-family: "Roboto", "Aerial", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: 400;
  overflow: hidden;
  max-height: 3.5rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  display: flex;
}

ytd-video-meta-block:not([inline-badges]) #metadata-line.ytd-video-meta-block span.ytd-video-meta-block {
  display: inline-block;
}

#metadata-line.ytd-video-meta-block > .ytd-video-meta-block:not(:first-of-type):before {
  content: ".";
  margin: 0 4px;
}

@media (min-width: 876px) {
  ytd-two-column-browse-results-renderer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  #primary.ytd-two-column-browse-results-renderer {
    flex: 1;
    flex-basis: 1e-9px;
  }
}

@media (min-width: 392px) {
  margin: 0;
}
